
<div class="container">
    <form  novalidate [formGroup]="ticketForm" class="form-horizontal">
      <div class="row">
        <div class="col-xs-12">
<!--          <button type="submit" class="btn btn-success" [disabled] ="!ticketForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>-->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <fieldset disabled>
          <div class="form-group">
            <label class="control-label">
              <span>Title</span>
              <input type="text" class="input" formControlName="ticketTitle">
            </label>
          </div>
          </fieldset>
        </div>
      </div>
    </form>

</div>
