<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>


    <!-- Ticket Title Column-->
    <ng-container matColumnDef="ticketTitle">
      <mat-header-cell *matHeaderCellDef mat-sort-header > Title </mat-header-cell>
      <mat-cell *matCellDef="let row; let arrayPosition = index" style="cursor: pointer"
                (click)="handleRowClick(arrayPosition)"> {{row.ticketTitle }} </mat-cell>
    </ng-container>

    <!-- Update Date Column -->
    <ng-container matColumnDef="updateDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Update  </mat-header-cell>
      <mat-cell *matCellDef="let row; let arrayPosition = index" style="cursor: pointer"
                (click)="handleRowClick(arrayPosition)"> {{row.updateDate }} </mat-cell>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="departmentDescription">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Department </mat-header-cell>
      <mat-cell *matCellDef="let row; let arrayPosition = index" style="cursor: pointer"
                (click)="handleRowClick(arrayPosition)"> {{row.departmentDescription }} </mat-cell>
    </ng-container>

    <!-- Ticket Owner Column -->
    <ng-container matColumnDef="ticketOwner">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Owner </mat-header-cell>
      <mat-cell *matCellDef="let row; let arrayPosition = index" style="cursor: pointer"
                (click)="handleRowClick(arrayPosition)"> {{row.ticketOwner }} </mat-cell>
    </ng-container>

    <!-- Ticket Description Column -->
    <ng-container matColumnDef="ticketDescription">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let row; let arrayPosition = index" style="cursor: pointer"
                (click)="handleRowClick(arrayPosition)"> {{row.ticketDescription }} </mat-cell>
    </ng-container>

    <!-- Target Date Column -->
    <ng-container matColumnDef="targetDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date</mat-header-cell>
      <mat-cell *matCellDef="let row; let arrayPosition = index" style="cursor: pointer"
                (click)="handleRowClick(arrayPosition)"> {{row.targetDate }} </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>
