

<!--Comment#  {{ (clientViewState | async).commentsTable.indexOf(item) }}-->



<!--<div class="card" *ngFor="let item of  (clientViewState   | async | reverseiterate).commentsTable ">-->
<div class="card" *ngFor="let item of newCommentTable">
  <br>
    Comment # {{item.commentNumber}}

  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>{{ item.commentDescription }}</p>

      <footer>
        <cite title="{{ item.creationUser}}">
        Created by: <a style="cursor: pointer">{{ item.creationUser}}</a>

        </cite>
        <cite title="{{ item.updateUser}}">
          Updated by: <a style="cursor: pointer">{{ item.updateUser}}</a>
        </cite>
      </footer>

    </blockquote>
  </div>

</div>
