

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


a:not([href]):not([tabindex]) {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}


blockquote {
  margin: 0 0;
}

footer {
  background: #ebebeb;
}

cite {
  padding-left: 1em;
}


/* TODO: Need to correct Button Display*/
.btn-group-sm>.btn, .btn-sm {
/*  padding-top:.001rem ;*/
  padding-bottom: .001rem;
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: .97rem;
  line-height: 1;
  border-radius: .1rem;
}


