

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


a:not([href]):not([tabindex]) {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}


blockquote {
  margin: 0 0;
}

footer {
  background: #ebebeb;
}

cite {
  padding-left: 1em;
}
