.border-between > [class*='col-']:before {
  background: #4749ee;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 1px;
  top: 0;
}

.border-between > [class*='col-']:first-child:before {
  display: none;
}
