<div class="card">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" style="cursor: pointer"
       [routerLink]="['', {outlets: {'clientViewMain': ['comments'],'clientViewSidebar': ['info/:' + arrayPosition] }}]">Comments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  style="cursor: pointer" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="cursor: pointer" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" style="cursor: pointer" href="#">Disabled</a>
  </li>
</ul>

  <div class="card-block">
    <h4 class="card-title">Ticket Info</h4>
    <h6 class="card-subtitle mb-2 text-muted">ID</h6>
    <p class="card-text">{{ (clientViewState | async).clientview[arrayPosition].ticketOriginalId }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Priority</h6>
    <p class="card-text">{{ (clientViewState | async).clientview[arrayPosition].priorityDescription }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Description</h6>
    <p class="card-text">{{ (clientViewState | async).clientview[arrayPosition].ticketDescription }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Owner</h6>
    <p class="card-text">{{ (clientViewState | async).clientview[arrayPosition].ticketOwner }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Department</h6>
    <p class="card-text">{{ (clientViewState | async).clientview[arrayPosition].departmentDescription }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Last updated on</h6>
    <p class="card-text">{{ (clientViewState | async).clientview[arrayPosition].updateDate }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Updated by</h6>
    <p class="card-text">{{ (clientViewState | async).clientview[arrayPosition].updateUser }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Created on</h6>
    <p class="card-text">{{ (clientViewState | async).clientview[arrayPosition].creationDate }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Created by</h6>
    <p class="card-text">{{ (clientViewState | async).clientview[arrayPosition].creationUser }}</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
