<div class="card" >
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"  style="cursor: pointer"
       (click)="openTicketTable()" [ngClass]="{active: isActive == 'openTicketTable'}" >Ticket List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="cursor: pointer" (click)="openComments()"
       [ngClass]="{active: isActive == 'openComments'}">Comments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="cursor: pointer" (click)="openTicketInfo()"
       [ngClass]="{active: isActive == 'openTicketInfo'}">Ticket Detail</a>
  </li>
<!--  <li class="nav-item">
    <a class="nav-link disabled" style="cursor: pointer" href="#">Disabled</a>
  </li>-->
</ul>

  <div class="card-block" style="margin-left: 3%">
    <h4 class="card-title">Ticket Overview</h4>
    <h6 class="card-subtitle mb-2 text-muted">ID</h6>
    <p class="card-text">{{ (clientViewState | async).ticketTable[arrayPosition].ticketOriginalId }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Priority</h6>
    <p class="card-text">{{ (clientViewState | async).ticketTable[arrayPosition].priorityDescription }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Description</h6>
    <p class="card-text">{{ (clientViewState | async).ticketTable[arrayPosition].ticketDescription }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Owner</h6>
    <p class="card-text">{{ (clientViewState | async).ticketTable[arrayPosition].ticketOwner }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Department</h6>
    <p class="card-text">{{ (clientViewState | async).ticketTable[arrayPosition].departmentDescription }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Last updated on</h6>
    <p class="card-text">{{ (clientViewState | async).ticketTable[arrayPosition].updateDate }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Updated by</h6>
    <p class="card-text">{{ (clientViewState | async).ticketTable[arrayPosition].updateUser }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Created on</h6>
    <p class="card-text">{{ (clientViewState | async).ticketTable[arrayPosition].creationDate }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Created by</h6>
    <p class="card-text">{{ (clientViewState | async).ticketTable[arrayPosition].creationUser }}</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
